.section {
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 1px 3px 6px #aaa;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-right: 20px;
    border-bottom: 2px solid #eee;
}

.section__buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.section__btn {
    width: 140px;
    cursor: pointer;
    transition: .2s;
}

.section__btn:hover {
    background-color: #606060;
    color: #eee;
}

.section__btn:disabled {
    background-color: transparent;
    color: #606060;
    border: none;
}

@media(max-width: 500px) {
    .section__container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .section__btn {
        width: 100%;
    }

    .section__buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.section__toggleHideTasks,
.section__toggleDoneTasks {
    height: 40px;
    border: 1px solid #606060;
    border-radius: 5px;
    background-color: transparent;
    color: #606060;
}

.section__header {
    padding: 20px;
    margin: 0;
}

@media(max-width: 500px) {
    .section__header {
        text-align: center;
    }
}

.section__body {
    padding: 20px;
}