.section {
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 1px 3px 6px #aaa;
}

.section__header {
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid #eee;
}

.section__body {
    padding: 20px;
}